#main-button {
    padding: 30px;
    color: azure;
    background-color: brown;
    text-transform: uppercase;
    font-size: 2em;
}

#main-button:hover {
    color: brown;
    background-color: azure;
}